In [2]:
#load pandas
import pandas as pd
import numpy as np

In [6]:
traffic_counts = pd.read_csv("https://data.wprdc.org/datastore/dump/6dfd4f8f-cbf5-4917-a5eb-fd07f4403167")

traffic_counts.head()

,id,device_id,record_oid,count_start_date,count_end_date,average_daily_car_traffic,average_daily_bike_traffic,counter_number,counter_type,speed_limit,...,longitude,latitude,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone
0,1011743669,85,1.445865e+09,2019-04-18,2019-04-26,4949.0,NaN,6,StatTrak,25.0,...,-79.967772,40.455733,Polish Hill,7.0,6.0,42003060500,6.0,6.0,2.0,2-6
1,1026101993,140,1.121444e+09,2019-01-24,NaN,NaN,NaN,NaN,Intersection Study,NaN,...,-79.952249,40.466157,Central Lawrenceville,7.0,9.0,42003090200,2.0,9.0,2.0,3-6
2,1032382575,11,1.539893e+09,2018-08-28,2018-09-04,NaN,NaN,NaN,NaN,35.0,...,-80.076469,40.460717,Windgap,2.0,28.0,42003563000,5.0,28.0,6.0,1-16
3,103627606,9,7.341951e+08,2018-07-17,2018-08-01,2741.0,NaN,NaN,StatTrak,25.0,...,-79.914335,40.437379,Squirrel Hill South,5.0,14.0,42003140800,3.0,14.0,4.0,2-18
4,1039546167,144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-80.019211,40.490794,Perry North,1.0,26.0,42003260200,1.0,26.0,1.0,1-15

In [10]:
#create polish hill query mask
polish_hill_qm = traffic_counts["neighborhood"] == "Polish Hill"
polish_hill_qm.head()

0     True
1    False
2    False
3    False
4    False
Name: neighborhood, dtype: bool

In [18]:
#create polish hill subset
polish_hill = traffic_counts[polish_hill_qm]
polish_hill.head()

,id,device_id,record_oid,count_start_date,count_end_date,average_daily_car_traffic,average_daily_bike_traffic,counter_number,counter_type,speed_limit,...,longitude,latitude,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone
0,1011743669,85,1.445865e+09,2019-04-18,2019-04-26,4949.0,NaN,6,StatTrak,25.0,...,-79.967772,40.455733,Polish Hill,7.0,6.0,42003060500,6.0,6.0,2.0,2-6
7,1053645660,87,8.042089e+08,2019-04-18,2019-04-26,3015.0,NaN,4,StatTrak,25.0,...,-79.964592,40.457119,Polish Hill,7.0,6.0,42003060500,6.0,6.0,2.0,2-6
79,1858604360,43,1.603853e+09,2018-12-04,2018-12-08,768.0,NaN,2,StatTrak,25.0,...,-79.961140,40.458735,Polish Hill,7.0,6.0,42003060500,6.0,6.0,2.0,2-6
102,2010535291,32,3.492315e+08,2019-10-21,2019-10-29,1049.0,NaN,1,StatTrak,25.0,...,-79.958934,40.459861,Polish Hill,7.0,6.0,42003060500,6.0,6.0,2.0,2-6
173,742086325,86,1.760887e+09,2019-04-18,2019-04-26,5663.0,NaN,1,StatTrak,25.0,...,-79.964110,40.458181,Polish Hill,7.0,6.0,42003060500,6.0,6.0,2.0,2-6

In [20]:
polish_hill_car_mean = polish_hill["average_daily_car_traffic"].mean()
print(polish_hill_car_mean)

polish_hill_bike_mean = polish_hill["average_daily_bike_traffic"].mean()
print(polish_hill_bike_mean)

polish_hill_mean = polish_hill_car_mean + polish_hill_bike_mean
print(polish_hill_mean)

2649.0
nan
nan